html, body {
  padding: 0;
  margin: 0;
}

#map {
  width:100%;
  height:100vh;
}

#container {
	padding-bottom: 1rem;
}

#chatDiv {
  overflow-y: scroll;
  height: 40vh;
}

.message {
	width: 100%;
}

.sendMessage {
	text-align: right;
}

.receiveMessage {
	text-align: left;
}

.message p {
	display: inline-block;
	padding: .5rem;
	margin: .4rem;
	border-radius: 5px;
}

.sendMessage p {
  background-color: #fffddb;
}

.receiveMessage p {
  background-color: #d0fffe;
}
